.selectable
{
	display: inline-block;
	cursor: pointer;
	background-color: #CCCCCC;
	padding: 3px;
	border: solid 1px #000000;
}

.selectableHover
{
	cursor: hand;	
	background-color: #FFFFFF;
}

.selected
{
	background-color: yellow;
}

#text
{
	margin-top: 50px;
}